.home-page {
    display: flex;

}


/* Feed component */
.feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-left: 10%;

    @media screen and (max-width: 1200px) {
        padding-left: 5%;
    }

    @media screen and (max-width: 770px) {
        padding-left: 0;
    }

}


.rightside {
    width: 25%;


    @media screen and (max-width: 770px) {
        display: none;
    }

}