.home-page {
    display: flex;
    padding-bottom: 48px;
    position: absolute;
    left: 245px;
    right: 0;

    @media screen and (max-width: 1200px){
        left: 80px;
    }
  
    @media screen and (max-width: 770px) {
        left: 0;
    }

}


/* Feed component */
.feed-part {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding: 0 20px;

    @media screen and (max-width: 770px) {
        padding: 0;
    }
}


.rightside {
    width: 35%;


    @media screen and (max-width: 770px) {
        display: none;
    }

}