.home-page {
    display: flex;
    padding-bottom: 48px;
    position: absolute;
    left: 245px;
    right: 0;

    @media screen and (max-width: 1200px){
        left: 80px;
    }
  
    @media screen and (max-width: 720px) {
        left: 0;
    }

}


/* main part */
.main-part {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding: 0 20px;

    @media screen and (max-width: 720px) {
        padding: 0;
    }
}
