.post {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    margin: 20px 0;

    .post-top {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        border-top: 1.5px solid #ccc;
        /* background-color: beige; */

        .user {
            display: flex;
            gap: 5px;
            align-items: center;

            span {
                font-size: 1.1rem;
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
    }

    .post-mid {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        border: 1.5px solid #ccc;
        border-radius: 5px;


        img {
            max-height: 600px;
        }
    }

    .post-bottom {
        height: auto;
        padding: 0 8px;
        align-items: center;

        .lcs-s {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            .lcs {
                display: flex;
                gap: 5px;

                button {
                    border: none;
                    width: auto;
                    height: auto;
                    background: transparent;
                }
            }
        }

        .title {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.2px;
        }

        .commnt {
            display: flex;
            justify-content: stretch;

            .com {
                width: 100%;
                font-size: small;
                height: 30px;
                border: none;
            }

            .sub {
                font-size: 1rem;
                font-weight: 500;
                color: rgb(39, 39, 255);
                height: 30px;
                border: none;
                background: none;
            }

            input:focus {
                outline: none;
            }
        }
    }

    @media screen and (max-width: 770px) {
        max-width: 500px;
        width: 86vw;

        .post-top{

        }

        .post-mid{

            img{
                max-height: 450px;
            }
        }

        .post-bottom{

        }
    }
}