.post {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    margin: 20px 0;

    .post-top {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        /* background-color: beige; */

        .user {
            display: flex;
            gap: 5px;
            align-items: center;

            span {
                font-size: 1.1rem;
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
    }

    .post-mid {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        background: #eeeeee4b;

        img {
            max-height: 450px;
            min-height: 200px;
        }
    }

    .post-bottom {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding: 8px 8px;
        align-items: center;
        border-bottom: 1.5px solid #ccc;

        .lcs {
            display: flex;
            gap: 5px;

            button{
                border: none;
                width: auto;
                height: auto;
                background: transparent;
            }
        }
    }
}