.post {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    margin: 10px 0;

    .backgroundFilter{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 15;
        background: #00000080;
    }

    .post-top {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        border-top: 1.5px solid #ddd;
        /* background-color: beige; */

        .user {
            display: flex;
            gap: 5px;
            align-items: center;

            span {
                height: 36px;
                font-size: .9rem;
                letter-spacing: .5px;
                font-weight: 500;
            }
        }
    }

    .post-mid {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        border: 1.5px solid #ddd;
        border-radius: 5px;


        img {
            max-height: 600px;
        }
    }

    .post-bottom {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 4px;
        padding: 10px 8px 0 8px;

        p,
        span {
            margin-bottom: 0 !important;
        }

        .lcs-s {
            display: flex;
            justify-content: space-between;
            .lcs {
                display: flex;
                gap: 5px;

                button {
                    border: none;
                    width: auto;
                    height: auto;
                    background: transparent;
                }
            }
        }

        .like-count {
            font-size: .8rem;
            font-weight: 500;
        }

        .title {
            font-size: .9rem;
            font-weight: 400;
            letter-spacing: 0.2px;

            span {
                font-size: 1rem;
                font-weight: 700;
                padding-right: 5px;
                color: #4e4e4e;
            }
        }

        .com-dailog {
            p {
                font-size: small;
                color: #727272;
            }
        }

        .commnt {
            display: flex;

            .com {
                width: 100%;
                font-size: small;
                border: none;
            }

            .sub {
                font-size: 1rem;
                font-weight: 500;
                color: rgb(39, 39, 255);
                border: none;
                background: none;
            }

            input {
                outline: none;
            }
        }
    }

    @media screen and (max-width: 720px) {
        max-width: 500px;
        width: 86vw;

        .post-top {}

        .post-mid {

            img {
                max-height: 450px;
            }
        }

        .post-bottom {}
    }
}