.stories {
    display: flex;
    width: 650px;
    height: 100px;
    margin: 15px;
    gap: 25px;
    padding: 0 15px;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    overflow-x: auto;
    font-size: .9rem;

    .story{
        .single-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 56vw;
    }

    @media screen and (max-width: 900px) {
        width: 650px;
    }

    @media screen and (max-width: 720px) {
        max-width: 550px;
        width: 90vw;
        padding: 0 10px;
        gap: 20px;
    }
}

.stories::-webkit-scrollbar{
    display: none;
}