:root{
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
}

.navlink {
  color: inherit;
  text-decoration: none;

  &:hover {
      color: inherit;
  }
}